{% extends "base.html" %}
{% from "form_helpers.html" import render_field %}
{% block content %}
<h1>Events list</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Start date</th>
          <th scope="col">City</th>
          <th scope="col">Addres</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
            {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.startDate|timestampformat('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ event.city }}</td>
                <td>{{ event.addess}}</td>
            </tr>
            {% endfor %}
      </tbody>
    </table>
{% endblock %}
